@import url('https://fonts.googleapis.com/css?family=Overlock');
h2 {
    text-align: center;
    font-family: 'Overlock', cursive;
    font-size: 70px;
    background-color: darksalmon;
    color: aliceblue;
    padding: 60px 10px 60px 10px;
    margin-bottom: -10px;
}

#head1{
    font-size: 19px;
}
#namePage {
    text-align: center;
    font-size: 20px;
}

#box {
    text-align: -webkit-center;
    background-color: darksalmon;
    color: white;
    font-size: 20px;
    border-style: solid;

}

#firstname ,#lastname ,#email , #university {
    width: 350px;
    border-color: aliceblue;
}

.custom-control-label::before, .custom-file-label, .custom-select {
    width: 300px;
    font-size: 15px;
    text-align: -webkit-left;
    position: inherit;
}

body {
    background-color: darksalmon;
}